* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* rgba(195, 221, 254, 255); */
}

.container {
    border: 2px solid red;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    height: 100vh;
}

.leftPart {
    width: 60%;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
    text-align: center;
}

.rightPart {
    width: 60%;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
    text-align: center;
}

.leftPart h1 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin: 20px auto;
}

.leftPart .btnContainer {
    padding: 10px;
}

.leftPart .btnContainer .btn {
    font-size: 16px;
    padding: 10px;
    background-color: rgb(195, 221, 254);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px 0px 4px black;
}

.leftPart .btnContainer .btnDocLogin {
    margin-right: 10px;
}

@media screen and (max-width: 768px) {

    /* Adjust layout for screens smaller than 768px width */
    .container {
        flex-direction: column;
        height: auto;
    }

    .leftPart,
    .rightPart {
        width: 100%;
    }
}